---
import Title from "../components/Title.svelte";
import Portfolio from "../components/portfolio.svelte";
import ListPosts from "../components/ListPosts.astro";
import "../styles/global.css";
import Base from "src/layouts/base.astro";
---

<Base>
	<Title client:load />
	<h2 class="font-bold text-4xl my-3">Portfolio</h2>
	<Portfolio client:load />
	<h2 class="font-bold text-4xl mb-3 mt-6">Posts</h2>
	<ListPosts />
</Base>
