---
import Title from "../components/Title.svelte";
import Portfolio from "../components/portfolio.svelte";
import ListPosts from "../components/ListPosts.astro";
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
---

<html lang="en" class="dark_classic">
	<head>
		<BaseHead title="Tobias von Massow" description="My personal Website :)" />
	</head>
	<body>
		<div
			class="fixed w-screen h-90vh overflow-y-scroll scrollbar scrollbar-rounded scrollbar-thumb-color-current scrollbar-track-color-transparent"
		>
			<main class="block max-w-4xl mx-auto px-3">
				<Title client:load />
				<h2>Portfolio</h2>
				<Portfolio client:load />
				<h2>Posts</h2>
				<ListPosts />
			</main>
		</div>
	</body>
</html>
