---
import "../styles/global.css";

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta
	name="viewport"
	content="width=device-width,height=device-height,initial-scale=1"
/>
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<script>
	import { state } from "../config";
	const theme = window.localStorage.getItem("theme");
	if (theme) state.setKey("theme", theme);
</script>
