---
const posts = await Astro.glob("../pages/Posts/*.{md, mdx}");
---

<section class="grid md:grid-cols-2 gap-6">
	{
		posts.map((post) => (
			<a href={post.url} class="block btn p-6 text-justify">
				<h3 class="text-xl">{post.frontmatter.title}</h3>
			</a>
		))
	}
</section>
